
@media screen and (max-width: 900px){
    
    .navbar{
      display: none;
    }
    .header{
      width: 80%;
    }

    .option{
      display: block;
    }
    

    .i-col-circle{
      display: none;
    }
    .carousel{
      width: 100%;
    }

    .carousel .carousel-i{
      width: 100%; 
    }

    .row-i{
      margin-top: -60%;
      
    }
    .col h1{
      font-size: 22px;
    }
    
    .i-text .í-text-img h1{
      font-size: 25px;

    }

    .align-form form .col-item-input .resposiveTop{
      margin-top: 40px;
    }

    .col-img-i img{
    height: 400px;;
    }

    .dicaTexto-1{
      top: 30px;
      left: 20%;
    }

    .dicaTexto-2{
      left: 80%;
    }

    .i-video{
      margin-left: 6%;
      width: 100%;
    }
    
    .i-col{
      width: 100%;
      display: block;
    }
    .i-text{
    margin-top: 20%;
    }
    .i-text h1{
      font-size: 1.8em;
    }

    .i-col{
      margin-top: 100%;
    }

    .i-align{
       display: block;
    }

    .row-i-2{
      margin-top: 90%;
      margin-left:-30px ;
    }
    
    .row{
       display: block;
    }

    .row-i-3{
      margin-top: 40%;
    }

    .row-i-3 .b-col-1{
      width: 40%;
      height: auto;
     left: 30px;
     }

     .b-col-circle-1{
      height: 200px;
     }

     .b-col-1-text{
      font-size: 12px;
     }
     .b-col-circle-1 img{
      height: 80px;
    }

    .row-i-3 .b-col-2{
      width: 40%;
      height: 500px;
      margin-left: -10%
    }

     

     .row-i-3 .b-col-2{
      left: 55%;
     }

    .b-col-3{
       display: none;
    }

    .i-text-img h1{
      margin-top: 100%;

    }
    .col-img-i-3 .h1{
      top: 300%;
    }

    
    .circle-4{
      width: 50%;
      top: -20%;
      left: 2%;
   }
   .circle-4 .i-text-img p{
    font-size: 13px;
  
   }

   .circle-5{
    margin-left: 10%;
    width: 40%;
   }

   .circle-5 .i-text-img p{
    font-size: 14px;
   }
   .i-text-img p{
     width: 70%;
     margin-left: 10%;
   }

   .circle-6{
     width: 250px;
     height: 250px;
     top: 60%;
     left: -5%;
   }


   .i-text-button{
    margin-top: 26%;

   }
   
   .row-i-5{
    height: 900px;
  
   }

   .row-i-6{
    height: 110vh;
   }
   .row-corpo .item-col p{
    margin-left: 12%;

   }

   .row-corpo .item-col h1{
    font-size: 25px;
    margin-top: 20%; 
    margin-left: 60px;
   }

   .item-col form .col-item-input{
      display: block;
      width: 100%;
      margin-left: -15%;
      height: auto;
   }

   .item-col form .col-item-input .respansive-1{
     margin-top: 18%;
   }

   .item-col form .respansive-2{
      margin-top: -8%;
   }

  .col-item-input select{
     width: 119%;
  }
   
   .form-video-i{
    height: auto;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
  }

  .form-video-i .col-video-i h1{
     font-size: 25px;
  }

  .col-video-i .i-video-2{
     display: block;
  }

  .col-video-i .i-video-2 .video-align video{
      margin-left: -4%;
      margin-top: 15%;
  } 

 .row-i-8{
  height: 560vh;
  }

  .row-i-8 .col-i .col-i-blog{
    width: 100%;
    display: block;
  
  }
  .row-i-8 .col-i .col-i-blog .group-1{
    margin-left: 0;
    margin-right: 0;
  }

  .pagination-i a .resposiveDisplay{
    display: none;
  }
  .col-i-end{
    height: auto;
    left:50px;
    display: block;
  }

  .col-i-end .top{
    margin-top: -30px;
  }
  @keyframes end{
    0%{
     left:50px;
    }
 
    50%{
     left:30px;
    }
 
    100%{
     left:30px;
    }
 }
 .col-i-end .grounp-2  .align-p{
  width: 80%;
  text-align: center;
  margin-left: 10%;
 
} 

.col-i-social .i-social{
  width: 80%;
  height: 100px;
  position: absolute;
  margin-top: 250%;
}


.circle-social{
  width: 50px;
  height: 50px;
  margin: 5px;
}
footer{
   height: 200vh;
}
.row-i-10{
  margin-top: -120%;

}

.row-i-10{
  display: block;
}

}

