
@media screen and (max-width: 900px){
    
    .navbar-i{
      display: none;
    }
    .header-container{
      width: 100%;
    }

    .option{
      display: block;
    }
    
    
    .i-col-circle{
      display: none;
    }
    
    .carousel{
      width: 95%;
      left: 5px;
    }

    
    .slide .carousel-i{
      width: 100%; 
      margin-left: 60px;
    }

    .row-i{
      margin-top: -60%;
      
    }
    .col h1{
      font-size: 22px;
    }
    

    .i-text .í-text-img{
      margin-top: 10px;
    }
    .i-text .í-text-img h1{
      font-size: 25px;
    }

    .align-form form .col-item-input .resposiveTop{
      margin-top: 40px;
    }
  
    .col-img-i img{
      height: 400px;
    }

    .dicaTexto-1{
      top: 30px;
      left: 20%;
    }

    .dicaTexto-2{
      left: 80%;
    }

    .col-img-i-3{
      margin-top: 10px;
    }


    .i-video{
      margin-left: 6%;
      width: 100%;
    }
    
    .i-col{
      width: 100%;
      display: block;
    }
    
    .i-text h1{
      font-size: 1.8em;
    }

    .i-col{
      margin-top: 100%;
    }
 
    .i-align{
       display: block;
    }

    .row-i-2{
      margin-top: 90%;
      margin-left:-60px ;
    }

    
    .row-i-2-num{
       display: block;
    }
    
    .row-i-2-num .user{
      margin-left: 42px;
     ;
    }

    .row-i-2-num .col h1{
       font-size: 2.5em;
    }
    .col{
        margin-left: 25%;
    }

    .row-i-3{
      height: 120vmax;
       margin-top: 10%;
    }

    .row-i-3 .b-col-1{
      width: 40%;
      height: 100vmax;
      left: 30px;
     }

     .b-col-circle-1{
       width: 100%;
       height: 32vmax;
     
     }

     .b-col-1-text{
       font-size: 12px;
     }
     .b-col-circle-1 {
      height: 30vmax;
     }

     .b-col-circle-1 img{
       height: 30vmax;
     }
    

     .row-i-3 .b-col-2{
       width: 40%;
       height: 90vmax;
       left: 49%;
      
     }

     .b-col-circle-2{
      height: 33vmax;
      margin-top: -170px;
     }

     .b-col-circle-2 img{
      height: 33vmax;
      
     }

     .display{
      margin-top: 100%;
        display: block;
     }

     .display .align-text-2{
      margin-left: -30%;
      width: 100%;
     }
     .b-col-1-text-2{
       display: block;
     }

    .b-col-3{
       display: none;
    }

    .i-text-img h1{
      margin-top: 100%;

    }
    .col-img-i-3 .h1{
      top: 300%;
    }

    
    .circle-4{
      width: 40%;
      top: -10%;
      left: 2%;
   }
   

   .circle-4 .i-text-img p{
    font-size: 13px;
  
   }

   .circle-5{
    margin-left: 10%;
    width: 40%;
    height: 70vmax;

   }

   .circle-5 .i-text-img p{
    font-size: 14px;
   }
   

   .circle-6{
     width: 150px;
     height: 200px;
     top: 65%;
     left: 10%;
   }
   .circle-6 img{
     height: 300px;

   }
   .circle-6 .i-text-button{
    width: 100%;
   }

   .row-i-5{
      height: 900px;
   }
   .i-text-button{
    width: 80%;
   }

   .row-i-6{
      height: 110vh;
   }

   .dicaTexto-1,
   .dicaTexto-2
   {
    margin-left: -20%;
     margin-top: -80px;
   }

   .row-corpo .item-col p{
     margin-left: 12%;
   }

   .row-corpo .item-col h1{
     font-size: 25px;
     margin-top: 20%; 
     margin-left: 60px;
   }

   .item-col form{
      width: 100%;
   }
  

   .row-corpo{
    width: 80%;
   }

   .item-col form .col-item-input{
      display: block;
      width: 100%;
      height: auto;
   }
  

   .item-col form .col-item-input .input-i{
     width: 97%;
   }

   .item-col form .col-item-input input[type='email']{
    width: 97%;
   }
  
   .item-col form .col-item-input select{
      width: 100%;
      
   }
  
   .item-col form .col-item-input .resposiveTop{
     margin-top: 14%;
   }

  .col-item-input select{
     width: 119%;
  }
   
   .form-video-i{
    height: auto;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
  }

  .form-video-i .col-video-i h1{
     font-size: 25px;
  }

  .col-video-i .i-video-2{
     display: block;
  }

  .col-video-i .i-video-2 .video-align video{
      margin-left: -4%;
      margin-top: 15%;
  } 

  .row-i-11{
    display: block;
    height: 150vh;
  }

  .row-i-11 .col-img-i-4 .i-img-5{
    margin-left: 100%;
  }

 .row-i-8{
  height: auto;
  }

  .row-i-8 .col-i .col-i-blog{
    height: auto;
    display: block;
    margin-top: -10%;
  }

  .col-i-blog .group-1{
    width: 600px;
    height:90vmax;
    border-radius: 200px;
    margin-top: 30px;
    margin: 20px;
    padding: 10px;
}

.group-1 .circle-7{
  height: 25vmax;
}

.group-1 .circle-7 img{
  height: 25vmax;
}


  .row-i-8 .col-i .col-i-blog .group-1{
    width: 40%;
  }
    .group-1 .text-i-4 h3{
      font-size: 17px;
   }
   .group-1 .text-i-4 p{
      font-size: 13px;
    
   }

  .pagination-i a .resposiveDisplay{
    display: none;
  
  }
  .col-i-end{
    height: auto;
    display: block;
  }

  
 .col-i-end .grounp-2  .align-p{
  width: 80%;
  text-align: center;
  margin-left: 10%;
} 

.col-i-social .i-social{
  width: 80%;
  height: 100px;
}


.circle-social{
  width: 50px;
  height: 50px;
  margin: 5px;
}


.circle-i-align .circle-10 .circle-i{
  width: 90px;
  height: 80px;
  margin-left: 5%;
}

.row-i-9{
  height: 150vh;
}

.row-i-10{
  display: block;
}

.row-i-10 .col-contact-i .group-input .input-i{
  width: 310px;
}

.row-i-10 .col-contact-i .group-input select{
  width: 316px;
}
.row-i-12{
  width: 100%;
  display: block;
}
.group-3-i form .align-Flex{
  display: block;
 
}

.group-3-i form .group-input-3 .input-wight{
  width: 460px;
}

.group-3-i form .group-input-3 .top{
  margin-top: 20px;
}
  
.group-button-3{
  width:80%;
}






.row-i-13 .col-13-i{
  display: block;
  height: auto;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.i-col-x img{
  margin-top: 50px;
}

.i-col-x .text-i-6 h1{
  text-align: center;
  font-weight: bold;
  color: #f3f70f;
}

.i-col-x .text-i-6 p{
  text-align: center;
}

.col-14-i .i-button{
  width: 100%;
  height: auto;
  display: block;
}

.col-14-i .i-button button{
    margin-top: 10px;
}

.i-text-1 .group-img-text img{
  display: flex;
  height: 300px;
  margin-left: -10%;
  margin-top: -10%;
}










}


@media (min-width: 1150px){
  .group-1 .text-i-4 h3{
    font-size: 20px;
  }
  .group-1 .text-i-4 p{
    font-size: 18px;
  
  }

}

