*{
    margin:0;
    padding: 0;
}

body{
    height: 500vh;
}
ul{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 3;
    background-color: #fff;
}

.item-li{
    display: flex;
    height: auto;

}
.item-li li {
    margin: 20px;
    list-style-type: none;
}

.item-li li a{
   text-decoration: none;color: #000;
}

.img-logo{
    width: 80px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-logo img{
    height: 80px;
}

.menu {
    width: auto;
    height: auto;
    display: none;
}
.menu img{
    height: 30px;
    cursor: pointer;
}


.container{
    width: 100%;
    height: 200vh;
    background-color: rgb(41, 111, 218);
    position: relative;
}


.Item-image{
    width: 40%;
    height: 350px;
    position: absolute;
    left: 50%;
    top: -4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.corpo-image1{
    width: 170px;
    height: 690px;
    margin-top: -19%;
    background-color: rgb(40, 204, 226);
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    position: relative;

}

.circular1{
     position: absolute;
     top: 100px;
     width: 100%;
     height: 150px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color:#e44a97;
     border-radius: 50%;
     margin-top: 20%;
     top: 70%;
     transition: 2s;
}
.circular1 img{
    width: 100%;
    height:  160px;
    border-radius: 50%;
}

.corpo-image2{
    width: 170px;
    height: 900px;
    background-color: rgb(209, 212, 33);
    display: flex;
    justify-content: center;
    margin-top: -19%;
    margin-left: 10px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    z-index: 2;
    position: relative;
   
}

.circular2{
    position: absolute;
    top: 100px;
    width: 100%;
     height: 150px;
     background-color:#fff;
     border-radius: 50%;
     margin-top: 20%;
     top: 70%;
     position: absolute;
}

.circular2 img{
    width: 100%;
    height:  150px;
    border-radius: 50%;
}

.corpo-image3{
    width: 110px;
    height: 460px;
    display: flex;
    justify-content: center;
    background-color: rgb(207, 48, 101);
    margin-top: -18%;
    margin-left: 10px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
   
}

.circular3{
    position: absolute;
    top: 100px;
    width: 20%;
     height: 100px;
     background-color:#fff;
     border-radius: 50%;
     margin-top: 20%;
}

.carrocel{
    width: 50%;
    height: 400px;
    position: absolute;
    top: 10%;
    left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.carrocel .carrocel-item{
   width: 60%;  
}


.carrocel .carrocel-item h1{
    color: #fff;
    font-weight: bold;
}

.carrocel .carrocel-item .carrocel-item-text {
margin-top: 20px;
}


.carrocel .carrocel-item .carrocel-item-text p {
     color: #fff;
     font-size: 1.2em;
}

.item-button{
    width: 100%;
    height: 50px;
    margin-top: 10px;
}
.item-button button{
    width: 40%;
    height: 50px;
    border-radius: 50px;
    background-color: greenyellow;
    border: none;
 
}

.corpo-item{
    width: 100%;
    height: auto;
    background-color: rgb(12, 12, 82);
    position: absolute;
    top: 80%;
    display: flex;
    justify-content: center;
     border-top-left-radius: 20%;
     border-bottom-right-radius: 20%;
    margin-top: 20px;
}

.item{
    width: 90%;
    height: auto;
    margin-top: 10%;
}

.item-1{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-align{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-circular{
    display: flex;
    justify-content: center;
    margin-left: 10%;
}

.img-circular{
    width: 15%;
    height: 180px;
    background-color: #0c0c0c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-circular img{
    width: 200px;
   height: 190px;
   border-radius: 50%;
}

.item-text{
    width: 60%;
    height: 300px;
    margin-left: 50px;
}
.item-text .text{
    margin-top: 30px;
    padding: 10px;
}

.item-text h1{
    color: rgb(211, 191, 81);
    font-size: 2.8em;
    font-weight: bold;
}


.width50{
    width: 50%;
}

.item-text .text p{
    color: #fff;
}
.marginTop{
    margin-top: 20px;
}
.text-align{
    width: 100%;
    display: flex;
    justify-content:center;

}

.item-video{
    width: 60%;
    height: 300px;
    border-radius: 25px;
}

 video{
     width:100%;
     height:300px;
     border-radius: 25px;
}

.item-2{
    width: 100%;
    height: 200px;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.row{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col{
    margin: 80px;
}

.col h1{
    font-size: 1.4cm;
    color: aqua;
}

.col h3{
  text-align: center;
  color: #fff;
}

.item-3{
    width: 100%;
    height: 500px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    position: relative;
}
.item-3 .corpo1{
    width: 25%;
    height: 700px;
    background-color: rgb(34, 70, 231);
    border-radius: 180px;
    margin-top: 0px;
    transition: 2s;
}

.item-3 .corpo2{
    width: 15%;
    height: 500px;
    background-color: rgb(199, 63, 147);
    border-radius: 180px;
    margin-top: 5%;
    transition: 2s;
}

.item-3 .corpo3{
    width: 12%;
    height: 400px;
    background-color: rgb(55, 206, 55);
    border-radius: 180px;
    margin-top: 15%;
}

.corpo-text{
    width: 90%;
    height: 50px;
    flex-direction: column;
}
.corpo-text h1{
   color: rgb(255, 238, 0);
   margin-left: 17px;
   margin-top: 80px;
   font-size: 2.0em;
  
}

.corpo-text .text-align {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 20px;
    margin-top: 30px;
}

.corpo-text .text-align p{
    color: #fff;
    font-size: 1.0em;
}

.item-circulo{
    width: 100%;
    height: 270px;
    background-color: rgb(0, 162, 255);
    border-radius: 50%;
    margin-top: 85%;
}

.item-circulo2{
    width: 100%;
    height: 170px;
    background-color: rgb(219, 200, 30);
    border-radius: 50%;
    margin-top: 90%;
}
 
 .row-form{
    width: 90%;
    height: 100vb;
    position: absolute;
    display: flex;
    justify-content: center;
 }

 .row-form .item-col h1{
    font-size: 2.5em;
    color: rgb(0, 26, 255);
 }

 .row-form .item-col h1, p{
    text-align: center;
    margin: 10px;
 }


 .item-col{
    flex-direction: column;
    height: 100px;
 }

 .item-col form{
    width: 100%;
    height:  500px;
 }

 .item-col form .col-item-input{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
 }

 .item-col form .col-item-input input{
    margin: 10px;
    width: 100%;
    height: 20px;
    border-radius: 25px;
    padding: 15px;
    border: none;
    background-color: #ece5e5;
 }
 .item-col form .col-item-input input[type='email'], select{
    width: 100%;
 }

 select{
    height: 50px;
    border-radius: 25px;
    background-color: #ece5e5;
    border: none;
    padding: 15px;
    color: #666464;
 }

 .col-item-button{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: right;
 }

 .col-item-button button{
    width: 150px;
    height: 40px;
    border-radius: 25px;
    border: none;
    background-color: rgb(39, 197, 39);
    color: #fff;
    cursor: pointer;
 }



 










